<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to AJ's World</p>
                        <h1>I am a <span class="txt_clr">Full Stack Developer</span>, and a UI/UX designer</h1>
                        <a href="https://www.github.com/Ayush2966" target="_ayush"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <footer>
        <p>Created with love ❤️ by AJ</p>
    </footer>
</body>

</html>